doctype html
html
    head
        script(src="https://kit.fontawesome.com/3018248d36.js" crossorigin="anonymous")
        title WeTube
    body
        include ../partials/header
        main
            block content
        include ../partials/footer